body{
	font-family: Arial;
	font-style: normal;
	background-color: #a5adb1;
}
header{ 
	background-color: #002fff;

}
p{
	font-family: cursive;
	font-style: italic;
	color: black;
}
footer{ 
	clear: both;
	background-color: blueviolet;
}
nav{
	background-color: #fa3200;
	height: 37px;
	width: auto;
}
/*DIV*/
#div_cental{
   text-align: center;
   width: 150px;
   height:fit-content;
}
#div_direita{ 
	background-color: #ADFF2F;
	text-align: center;
	min-height: 500px;
	width: 200px;
}
#div_esqueda{
	background-color: coral;
	min-height: 500px;
	width: 200px;
}
/*ID*/
.container{
	display: flex;
	height: 600px;
	flex-wrap: wrap;
	align-content: stretch;
}